<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>打卡登入系統</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="../css_js/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="../css_js/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../css_js/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../css_js/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css_js/css/style.css" rel="stylesheet">
    <style>
  
        .div110 {
            margin: 0 auto;

            

        }
        .div1 {
            margin: 0px;

        }

    </style>
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid bg-light position-relative shadow">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
            <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
                <span class="text-primary">人臉分析應用</span>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav font-weight-bold mx-auto py-0">
                    <a href="http://face.hopto.org:3000/" class="nav-item nav-link">Home</a>
                    <a href="http://face.hopto.org:3000/analyze" class="nav-item nav-link">分析人臉</a>
                    <a href="http://face.hopto.org:3000/ver" class="nav-item nav-link">人臉比對</a>
                    <a href="http://face.hopto.org:3000/mtcnn" class="nav-item nav-link">群眾分析</a>
                    <a href="http://face.hopto.org:3000/cam" class="nav-item nav-link active">打卡登入系統</a>

        </nav>
    </div>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h3 class="display-3 font-weight-bold text-white">Webcam detect</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="">人臉</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">一對多比對</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="../css_js/img/cam1.jpg" >
                </div>
                <div class="col-lg-7">
                    <p class="section-title pr-5"><span class="pr-2">打卡登入系統</span></p>
                    <h1 class="mb-4">打卡登入系統的資訊</h1>
                    <p>先將員工的照片儲存後，分析其embedding，參數儲存至.pkl檔，當視訊鏡頭用OPENCV偵測到人臉後，對應embedding，可找出是哪員工，名字和時間紀錄於CSV檔，完成每日打卡或登入紀錄。</p>
                    <div class="row pt-2 pb-4">

                        <div class="col-6 col-md-8">
                            <ul class="list-inline m-0">
                                <li class="py-2 border-top border-bottom"></i>找出是哪個人(找出embedding最相近且判定為同一人)</li>
                                <li class="py-2 border-bottom"></i>對應時間</li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- main Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Webcam detect Demo</span></p>
                <h1 class="mb-4">實際操作local視訊鏡頭</h1>

                <div class="div110">

                    <form method="get" id="cam1"  onsubmit="cam()" >

                        <input type="submit" value="開啟Webcam" />
                </form>
                
                <p><%= results[0] %></p>
                
                
                <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
                <Script>
                    function cam(){
                        var address = window.location.href;
                        var action_src = address
                        var your_form = document.getElementById('cam1');
                        your_form.action = action_src ;
                    }
                
                
                
                </Script>  
            
            </div>    

            <div class="row">
                <div class="col-md-6 col-lg-3 text-center team mb-5">
                    <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                        <img class="img-fluid w-100" src="img/team-1.jpg" alt="" >
                        <div
                            class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                            <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                                href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                                href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;"
                                href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- main End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0" style="font-size: 40px; line-height: 40px;">
                    <i class="flaticon-043-teddy-bear"></i>
                    <span class="text-white">人臉分析應用</span>
                </a>
                <p>這網頁是我在資展國際(原資策會)學完後呈現的結果，一個人包辦資料收集、模型建構測試、應用價值分析、群眾人臉分析功能、人臉比對功能、打卡登入系統功能。將相應功能整合前後端，最後放置雲端server主機，呈現在雲端上。</p>

            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h3 class="text-primary mb-4">Get In Touch</h3>
                <div class="d-flex">
                    <h4 class="fa fa-map-marker-alt text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">地址</h5>
                        <p>新北市新莊區化成路</p>
                    </div>
                </div>
                <div class="d-flex">
                    <h4 class="fa fa-envelope text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Email</h5>
                        <p>top80276@yahoo.com.tw</p>
                    </div>
                </div>
                <div class="d-flex">
                    <h4 class="fa fa-phone-alt text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Phone</h5>
                        <p>0936991022</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h3 class="text-primary mb-4">Quick Links</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="http://face.hopto.org:3000/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="http://face.hopto.org:3000/analyze"><i class="fa fa-angle-right mr-2"></i>分析人臉</a>
                    <a class="text-white mb-2" href="http://face.hopto.org:3000/ver"><i class="fa fa-angle-right mr-2"></i>人臉比對</a>
                    <a class="text-white mb-2" href="http://face.hopto.org:3000/mtcnn"><i class="fa fa-angle-right mr-2"></i>群眾分析</a>
                    <a class="text-white mb-2" href="http://face.hopto.org:3000/cam"><i class="fa fa-angle-right mr-2"></i>打卡登入系統</a>
                </div>
            </div>



        </div>

    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>