<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主頁</title>
</head>
<body>
    <a class="btn btn-outline-secondary" href="http://localhost:3000/analyze">分析</a>
    <a class="btn btn-outline-secondary" href="http://localhost:3000/ver">同一人比對</a>
    <a class="btn btn-outline-secondary" href="http://localhost:3000/mtcnn">群眾分析</a>
    <a class="btn btn-outline-secondary" href="http://localhost:3000/cam">打卡註冊系統</a>
    
</body>
</html>