<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="upload.css" rel="stylesheet" type="text/css">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script><!-- Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    <script src="https://kit.fontawesome.com/f3813bc9e4.js"></script> <!-- 圖標 -->
    <title>Upload</title>
</head>
<body>
    <div class="container center">
        <div class="row">
            <div class="col-md-12">
                <h1 class="white"><i class="fa-solid fa-pen-nib fa-beat-fade"></i> Image Upload</h1>
                <p class="white">Upload your image and crop it before submit.</p>
            </div>
        </div><br>

        <!-- <label class="btn btn-info btn-lg">
            <input id="upload_img" style="display:none;" type="file" accept="image/*">
            <i class="fa-solid fa-image fa-2xl"></i></i> 上傳圖片
        </label><br><br> -->

        <!-- <div id="oldImg" style="display:none"></div> -->

        <form method="post" action="http://localhost:3000/" enctype="multipart/form-data">
            <!-- Photo: <input type="file" name="photo" /><br>
            <input type="submit" value="Upload" />
        </form> -->
            <label class="btn btn-info btn-lg">
                <input id="upload_img" style="display:none;" type="file" name="photo" accept="image/*">
                <i class="fa-solid fa-image fa-2xl"></i></i> 上傳圖片
            </label><br><br>
            <!-- <button type="button" id="crop_img" class="btn btn-info btn-lg" disabled>
                <i class="fa-solid fa-scissors fa-2xl"></i></i> 裁剪圖片
            </button><br><br>
            
            <div id="newImgInfo"></div>
            <div id="newImg"></div><br>

            <div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group">
                <button type="button" id="MD1" class="btn btn-outline-primary btn-info" disabled><i class="fa-solid fa-gamepad fa-2xl"></i> MD1</button>
                <button type="button" id="MD2" class="btn btn-outline-primary btn-info" disabled><i class="fa-solid fa-gamepad fa-2xl"></i> MD2</button>
                <button type="button" id="MD3" class="btn btn-outline-primary btn-info" disabled><i class="fa-solid fa-gamepad fa-2xl"></i> MD3</button>
            </div><br><br> -->

            <button type="submit" id="send" class="btn btn-info btn-lg"><i class="fa-solid fa-cloud-arrow-up fa-2xl"></i> 提交</button>
        </form>
    </div>

    <script>
        (function($) {
            var width_crop = 600, // 圖片裁切寬度 px 值
            height_crop = 400, // 圖片裁切高度 px 值
            type_crop = "square", // 裁切形狀: square 為方形, circle 為圓形
            width_preview = 900, // 預覽區塊寬度 px 值
            height_preview = 600, // 預覽區塊高度 px 值
            compress_ratio = 0.85, // 圖片壓縮比例 0~1
            type_img = "jpeg", // 圖檔格式 jpeg png webp
            oldImg = new Image(),
            myCrop, file, oldImgDataUrl;
            
            // 裁切初始參數設定
            myCrop = $("#oldImg").croppie({ 
                viewport: { // 裁切區塊
                    width: width_crop,
                    height: height_crop,
                    type: type_crop
                },
                boundary: { // 預覽區塊
                    width: width_preview,
                    height: height_preview
                }
            });
        
            function readFile(input) {
                if (input.files && input.files[0]){file = input.files[0];} 
                else {alert("瀏覽器不支援此功能！建議使用最新版本 Chrome"); return;}
        
                if (file.type.indexOf("image") == 0) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        oldImgDataUrl = e.target.result;
                        oldImg.src = oldImgDataUrl; // 載入 oldImg 取得圖片資訊
                        myCrop.croppie("bind", {url: oldImgDataUrl});
                    };
                    reader.readAsDataURL(file);
                    $("#crop_img").removeAttr("disabled");
                    $("#send").removeAttr("disabled");
                    $("#MD1").removeAttr("disabled");
                    $("#MD2").removeAttr("disabled");
                    $("#MD3").removeAttr("disabled");
                } 
                else {alert("您上傳的不是圖檔！");}
            }

            // 上傳 & 顯示圖片
            $("#upload_img").on("change", function() {
                $("#oldImg").show();
                readFile(this);
            });
        
            // 讀取 & 顯示原始圖片資訊
            oldImg.onload = function() {
                var width = this.width,
                height = this.height,
                fileSize = Math.round(file.size / 1000),
                html = "";
        
                html += "<p style='color:white'>原始圖片尺寸 " + width + "x" + height + "</p>";
                html += "<p style='color:white'>檔案大小約 " + fileSize + "k</p>";
                // window.alert(html);
                $("#oldImg").before(html);
            };

            // 顯示裁切後圖片
            function displayCropImg(src) {
                var html = "<img src='" + src + "' />";
                $("#newImg").html(html);
            }

            // 裁切後圖片資訊
            function displayNewImgInfo(src) {
                var html = "",
                filesize = src.length * 0.75;
                // window.alert(src.length)
                html += "<p style='color:white'>裁切圖片尺寸 " + width_crop + "x" + height_crop + "</p>";
                html += "<p style='color:white'>檔案大小約 " + Math.round(filesize / 1000) + "k</p>";
                $("#newImgInfo").html(html);
            }
            
            // 裁切 & 顯示裁切後圖片與圖片資訊
            $("#crop_img").on("click", function() {
                myCrop.croppie("result", {
                    type: "canvas",
                    format: type_img,
                    quality: compress_ratio
                }).then(function(src) {
                    displayCropImg(src);
                    displayNewImgInfo(src);
                });
            });
        })(jQuery);
    </script>
</body>
</html>

<!-- This structure (function() {})(); is called IIFE (Immediately Invoked Function Expression), 
it will be executed immediately, when the interpreter will reach this line.
(function($) {})(jQuery); that the interpreter will invoke the function immediately, 
and will pass jQuery as a parameter, which will be used inside the function as $. -->

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"> icons, font -->