<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上傳資料</title>
</head>
<body>
    <form method="post" id="analyze1"  onsubmit="analyze()" enctype="multipart/form-data">
        Photo: <input type="file" name="photo" class="faceUrl" /><br>
        <input type="submit" value="Upload" />
</form>

<p>上傳人臉圖片分析</p>
<p>分析過程約需5~10秒:</p>
<img id="imageDetected" style="width:200px"  src="../img/avatar.webp">

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<Script>
    function analyze(){
        var address = window.location.href;
        var action_src = address+"1"
        var your_form = document.getElementById('analyze1');
        your_form.action = action_src ;
    }


        var arrayBuffer;
        
        document.querySelector(".faceUrl").addEventListener("change", function(){
            var reader = new FileReader();
            reader.onload = function(){
                arrayBuffer = this.result;
                var blob = new Blob([arrayBuffer], {type:"image/jpg|jpeg|png|gif"}); //將arrayBuuffer變成大型二進位物件
                var urlCreator = window.URL || window.webkitURL;
                var imageUrl = urlCreator.createObjectURL(blob);
                $("#imageDetected").attr("src", imageUrl);
            };
            reader.readAsArrayBuffer(this.files[0])
        });
</Script>  






</body>
</html>