<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上傳資料</title>
</head>
<body>
    <form method="post" id="analyze1"  onsubmit="analyze()" enctype="multipart/form-data">
        Photo: <input type="file" name="photo" /><br>
        <input type="submit" value="Upload" />
</form>


<Script>
    function analyze(){
        var address = window.location.href;
        var action_src = address
        var your_form = document.getElementById('analyze1');
        your_form.action = action_src ;
    }
</Script>  

<p>目前資料庫圖片如下:</p>
<img style="width:200px"  src="../img/001.jpg">

<p><%= results[0] %></p>
<p><%= results[1] %></p>
<p><%= results[2] %></p>
<p><%= results[3] %></p>


</body>
</html>